.parDiv{
    background: url('../assets/loginBackground.jpg') fixed;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
  
.errMsg{
    padding:3px ;
    color: rgb(253, 1, 1);
    font-size:14px ;
    margin-left: 80px;
}
.userPhoto{
    width: 300px;
    height:300px;
    border-radius:80px;
}
.userPhotoContainer{
    margin-left:20px;
    margin-top:40px;
    display:flex;
    margin-bottom: 10px; 
}
.overlay {
    position: absolute;
    cursor: pointer;
    height: 40%;
    width: 19.7%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0,0,0.3);
    border-radius: 80px;
  }
.userPhotoContainer:hover .overlay{
    opacity: 1;
}
  
.text {
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 50%;
}