.postsParDiv{

  background-color: rgb(228, 224, 224); 
    min-height:100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.tools{
  height: 50px;
  border-bottom: 2px solid rosybrown;
}
.leftDiv{
  width: 25%;
  height: 82.6vh;
  float: left;

}
.rightDiv{
  background: rgb(226, 167, 214);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: ;
  width: 75%;
  margin-left: 25%;
  height: 82.6vh;
}