.postsParDiv{

  background: url('../assets/loginBackground.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.searchButton{
  height: auto;
  width: 20%;
  height: 100%;
  color: black;
  background: transparent;
  border: none;
}

.tools{
  height: 50px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid palevioletred;

}
.leftDiv{
  background-color: white;
  width: 25%;
  height: 82.6vh;
  float: left;
}
.rightDiv{

  background: transparent;
  width: 75%;
  margin-left: 25%;
  height: 82.6vh;
  overflow: hidden;
}
.descriptionTextArea{
  background:transparent ;
  border:none ;
  width:100%;
  padding-bottom: 100px;
  font-size:20px;
  word-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}
.viewPersonalPage{
  text-decoration:none;
  color:blue; 
  width: fit-content;
  font-size:25px;
  margin-left:10px;
  text-align: center;
  padding-bottom: 40px;
}
.leftCards{
  background-color: white;
  width: 100%;
  border-bottom:1px solid black;
  cursor: pointer;
  overflow: auto;

}

.leftCards:hover{
  background-color: #eeeeee;

}
.viewProfileLink{
  height: 25px;
  margin-left: 20px;
  text-decoration: none ;
}
.viewProfileLink:hover{
  transform: scale(1.1);
    transition: transform .3s;
  }
.searchError{
  padding:'1xp' ;
  color: rgb(253, 0, 0);
  font-size:17px ;
  position: fixed; 
  margin-left: 60%;
  margin-top: 10px;  

}