.postsParDiv{

  background: url('../assets/loginBackground.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.searchButton{
  height: auto;
  width: 20%;
  height: 100%;
  color: black;
  background: transparent;
  border: none;
}

.tools{
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0.1);
  border-bottom: 1px solid palevioletred;

}
.leftDiv{
  background-color: white;
  width: 25%;
  height: 82.6vh;
  float: left;
}
.rightDiv{

  background: transparent;
  width: 75%;
  margin-left: 25%;
  height: 82.6vh;
  overflow: hidden;
}
.descriptionTextArea{
  background:transparent ;
  border:none ;
  width:100%;
  padding-bottom: 100px;
  font-size:20px;
  word-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}
.viewPersonalPage{
  text-decoration:none;
  color:blue; 
  width: fit-content;
  font-size:25px;
  margin-left:10px;
  text-align: center;
  padding-bottom: 40px;
}
.leftCards{
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-bottom:1px solid black;
  cursor: pointer;
  overflow: auto;

}

.leftCards:hover{
  background-color: #eeeeee;

}
.viewProfileLink{
  height: 25px;
  margin-left: 20px;
  text-decoration: none ;
}
.viewProfileLink:hover{
  transform: scale(1.1);
    transition: transform .3s;
  }
.searchError{
  padding:'1xp' ;
  color: rgb(253, 0, 0);
  font-size:17px ;
  position: fixed; 
  margin-left: 60%;
  margin-top: 10px;  

}
.sortBy {
  position: relative;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 180px;
    color: #fff;
    background: transparent;
    margin-top: 7px;
    margin-left: 10%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10%;
}
.sortBy:hover{
box-shadow: 0px 0px 12px 0px rgb(13, 3, 3);

}

.sortByBtn {
  background-color: inherit;
  color: rgb(0, 0, 0);
  border: none;
  width: 100%;
  height: 100%;
  font-size: medium;
  font-weight: bold;
}
/* Dropdown Content (Hidden by Default) */
.sortBy-content {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid black;
}

/* Links inside the dropdown */
.sortBy-content div {
  color: black;
  padding: 12px 16px;
  display: block;
  font-size: 15px;
  border-top: 1px solid black;
}

/* Change color of dropdown links on hover */
.sortBy-content div:hover  {background-color: rgb(255, 255, 255);}

/* Show the dropdown menu on hover */
.sortBy:hover .sortBy-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.arrow {
  border: solid rgb(255, 0, 0);
  border-width: 0 3px 3px 0;
  display: none;
  padding: 2px;
  margin-left: 18px;
  margin-bottom: 2px;
  color: black;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}