
.parDiv{
    background: url('../assets/loginBackground.jpg');
    background-size:cover;
    margin:'0';
    padding:'0';
}

.loginPagebody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89.3vh;
    width: 100%;
}
.xxx{
    background:rgba(255,255,255,0.15);
    box-shadow:0 8px 32px 0 rgba(31,38,135,0.37);
    border-radius:2rem;
    height:3rem;
    width:80%;
    margin: auto;
    padding:1rem;
    border:none;
    outline:none;
    color:#3c3540;
    font-size:1rem;
    font-weight:bold;
}
.xxx:focus{
        display:inline-block;
        box-shadow:0 0 0 0.2rem #b9abe0;
        border-radius:2rem;
    }
.xxx::placeholder{
        color:inherit;
        font-weight:100;
        font-size:1rem;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
.custom-file-input:hover{
    box-shadow:0 0 0 0.2rem #b9abe0;
    cursor: pointer;
}