
.parDiv{
    background: url('../assets/loginBackground.jpg');
    background-size:cover;
    margin:'0';
    padding:'0';
}

.loginPagebody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89.3vh;
    width: 100%;
}
.xxx{
    background:rgba(255,255,255,0.15);
    box-shadow:0 8px 32px 0 rgba(31,38,135,0.37);
    border-radius:2rem;
    height:3rem;
    width:80%;
    margin: auto;
    padding:1rem;
    border:none;
    outline:none;
    color:#3c3540;
    font-size:1rem;
    font-weight:bold;
}
.xxx:focus{
        display:inline-block;
        box-shadow:0 0 0 0.2rem #b9abe0;
        border-radius:2rem;
    }
.xxx::placeholder{
        color:inherit;
        font-weight:100;
        font-size:1rem;
}
.custom-file-input::-webkit-file-upload-button {
    display: none;
    left: 0px;
}
.custom-file-input:hover{
    box-shadow:0 0 0 0.2rem #b9abe0;
    cursor: pointer;
}
.registerMainContainer{
    display:flex;
    align-items:center;
    flex-direction:column;
    height:95%;
    width:30vw;
    background:rgba(0,0,0,0.4);
    box-shadow:0 8px 32px 0 rgba(31,38,135,0.37);
    background-filter:blur(8.5px);
    border-radius:10px; 
    color:white;
    letter-spacing:0.2rem
}
.registerWelcomeText{
    margin : 1rem 0 2rem 0;
}
.registerSignUpText{
    cursor:pointer;
}
.registerForgotPassword{
    cursor:pointer;
}

.registerInputContainer{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    height:90%;
    width:100%;
}
.registerButtonContainer{
    margin: 1rem 10 2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registerstyledBtn{
    background: linear-gradient(to right, #14163c 0%, #03217b 55%);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 65%;
    height: 3rem;
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    
}
.registerstyledBtn:hover{
    transform: scale(1.1);
  }